# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = edm_songs.settings

[deploy]
#url = http://localhost:3000/
project = edm_songs
